@model IEnumerable<RiftwalkerWebsite.ViewModels.RunViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Seed)</th>
            <th>@Html.DisplayNameFor(model => model.Score)</th>
            <th>@Html.DisplayNameFor(model => model.Duration)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RunViewModel run in Model)
        {
            <tr>
                <td>@run.Username</td>
                <td>@run.Seed</td>
                <td>@run.Score</td>
                <td>@run.Duration</td>
            </tr>
        }
    </tbody>
</table>
